# Python caches and environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data and binaries (Exclude data files but keep folders via .gitkeep)
02_datos/**/*.csv
02_datos/**/*.pkl
06_despliegue/artefacto_pipeline.pkl
opt/

# OS specific files
.DS_Store
Thumbs.db
